.container{
  display: flex;
  flex-direction: column; 
  height: 100vh;
}
.header{
  flex: 15%;
  background-color: blue;
}
.menu{
 flex: 5%;  
  background-color: pink;
  display: flex; 
}
.menu a{ 
  padding: 15px 20px;
  
}
.content{
 flex: 70%; 
  background-color: white;
}
.content inframe{
  flex: 1;
  border: none;
  width: 100%;
  height: 100%;
}
.footer{
flex: 10%;  
background-color: blue;  
}



h1 {
  color: red;
  text-align: center; 
}
td {
  text-align: center;
}
.tieude {
  color: tomato;
  font-size: 25pt;
  top-margin: 18pt;
}
.noidung {
  color: black;
  font-size: 15pt;
  top-margin: 6pt;
}  
